<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <card>
        <a routerLink="../add-startup" class="btn btn-primary">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Add new dream
        </a>
        <a routerLink="../startups" class="btn btn-info">
          <i class="fa fa-list-ul" aria-hidden="true"></i>
          All dreams
        </a>
      </card>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <card>
        <table class="table">
          <thead>
            <tr>
              <th>
                Created
              </th>
              <th>
                Title
              </th>
              <th>
                Author
              </th>
              <th>

              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>
                <a href="#" class="btn btn-info">Comments</a>
              </td>
            </tr>
          </tbody>
        </table>
      </card>
    </div>
  </div>
</div>