<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lorem ipsum</td>
          </tr>
          <tr>
            <td>Lorem ipsum 2</td>
          </tr>
          <tr>
            <td>Lorem ipsum 3</td>
          </tr>
          <tr>
            <td>Lorem ipsum 4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>